@media (orientation: landscape) {
    nav {
        ul {
            width: 65% !important;
            justify-content: end;
            /* background-color: red; */
        }

        .carito_perfil {
            display: flex;
            width: 35% !important;
            justify-content: end;
            gap: 1rem;
            /* background-color: blue; */
        }
    }

    .contenedor {
        width: 100%;
        height: auto !important;
        align-items: center;
        justify-content: center;
        padding: 0rem 3rem;
        
        .card{
            display: flex;
            flex-direction: column;
            height: 100% !important;
            h2{
                font-size: 18px !important;
            }
        }
    }
}