@media only screen and (max-width:480px){
    nav{
        position: sticky;
        top: 0;
    }
    ul{
        display: none !important;
    }
    .hamburguesa{
        display: block !important;
    }
    main{
        padding: 0 !important;
    }
    .contenedor{
        flex-direction: column !important;
        width: 100%;
        padding-bottom: 3rem !important;
        height: auto !important;
        .card{
            flex-direction: row ;
            width: 80%;
        }
    }
}