*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  padding: 3rem 2rem;
  background-color: #2A2A2A;
  color: white;
  ul{
    list-style: none;
    display: flex;
    width: 65%;
    justify-content: end;
    gap: 1.5rem;
    li{
        a{
          color: white;
          text-decoration: none;
          &:hover{
              color: gold;
              text-decoration: underline;
          }
        }
    }
  }
  .hamburguesa{
    display: none;
  }
  .carito_perfil{
    display: flex;
    width: 35%;
    justify-content: end;
    gap: 1rem;
  }
}

main{
    height: 100%;
    padding: 2rem 5rem;
}
.contenedor{
    display: flex;
    flex-direction: row !important;
    width: 100%;
    height: 100%;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    .card{
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.308);
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        height: 100%;
        &:hover{
            .producto{
                rotate: -30deg;
                transition: 1s;
                scale: 1.3;
            }
            .precio{
                            background-color: green;
            cursor: pointer;
            }

        }
        .producto{
            width: 73%;
        }
        .detalle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .precio{
        background-color: #2A2A2A;
        border-radius: 100rem;
        padding: 1.5rem;
        color: white;
        display: flex;
        width: 2.5rem;
        height: 1rem;
        justify-content: center;
        font-weight: bolder;
        align-items: center;

        }
    }
}